.conference-img{
    height:50vh;
    width:220vh;
}
 .contanier{
    text-align: center;
    color:#183b56;
    margin-top:15px;
    font-family:Roboto;

 }
 .image-contanier{
    height:50vh;
    width:220vh;
 }
 .matter{
    margin:10px;
 }
 .sub-heading{
    text-align:center;
 }

